@tailwind base;

@tailwind components;

@tailwind utilities;

html, body, #root {
  height: 100%;
}
.h-1\/2 {
  height: 55%;
  max-height: 55%;
}

.mt-card-container {
  margin-top: 0;
}

@media screen and (max-width: 930px) {
  .mt-card-container {
    margin-top: auto;
  }
}
