@tailwind base;

@tailwind components;

@tailwind utilities;

html, body, #root {
  height: 100%;
}
.h-1\/2 {
  height: 55%;
  max-height: 55%;
}

.mt-card-container {
  margin-top: 0;
}
.search-discover {
  top: 90px;
}
.search-profile {
  top:133px;
}
@media screen and (max-width: 768px) {
  .search-discover {
    top: 84px;
  }
  .search-profile {
    top:134px;
  }
}
@media screen and (max-width: 640px) {
  .search-discover {
    top: 93px;
  }
  .search-profile {
    top:134px;
  }
}
@media screen and (max-width: 639px) {
  .search-profile {
    top:533px;
  }
}
@media screen and (max-width: 930px) {
  .mt-card-container {
    margin-top: auto;
  }
}
.markdown > p {
  margin-bottom: 0.5rem;
}
